$background-color: #FFFFEF;


.section-boards {
    margin-top: 90px;
    padding: 64px 0;
    background-color: $background-color;
  }
  
  .section-boards .title {
    color: #56593D;
    font-family: Roboto;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .section-boards .items-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .section-boards .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-boards .item div {
    margin-top: 16px;
  }
  
  .section-boards .item .name {
    color: #56593D;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .section-boards .item .price {
    color: #717353;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6200000047683716px;
    text-align: center;
  }
  
  @media (max-width: 1260px) {
    .section-boards .items-list {
      flex-direction: column;
    }
  
    .section-boards .item img{
      width: 90%;
    }
  
    .section-boards .item:not(:first-child) {
      margin-top: 50px;
    }
  }
  
  .section-essentials {
    margin-top: 24px;
    padding: 16px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: $background-color;
  }
  
  .section-essentials img {
    width: 100%;
  }
  
  .section-essentials .title {
    position: absolute;
    top: 80px;
    color: #56593D;
    font-family: Roboto;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1.7999999523162842px;
  }
  
  .section-essentials .text {
    position: absolute;
    top: 116px;
    width: 80%;
    color: #56593D;
    font-family: Roboto;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  @media (max-width: 700px) {
    .section-essentials .text {
      font-size: 24px;
      line-height: 24px;
    }
  }